BlogPost.AppCore\bin
BlogPost.AppCore\obj
BlogPost.AppLogic\bin
BlogPost.AppLogic\obj
BlogPost.Common\bin
BlogPost.Common\obj
BlogPost.Domain\bin
BlogPost.Domain\obj
BlogPost.Testing\bin
BlogPost.Testing\obj
BlogPost.WebApi\bin
BlogPost.WebApi\obj
BlogPost.WebApp\bin
BlogPost.WebApp\obj
/BlogPost.AppCore/bin
/BlogPost.AppCore/obj
/BlogPost.AppLogic/bin
/BlogPost.AppLogic/obj
/BlogPost.Common/bin
/BlogPost.Common/obj
/BlogPost.Domain/bin
/BlogPost.Domain/obj/Debug
/BlogPost.Domain/obj
/BlogPost.Testing/bin/Debug/net5.0
/BlogPost.Testing/obj
/BlogPost.WebApi/bin
/BlogPost.WebApi/obj
